{% extends 'base.html' %}

{% block conteudo %}
<p>
    <img class="imgretangular3" src="{{ url_for('static', filename='IMG_Contato.png') }}">
</p>
    <h1>Entre em contato</h1>
    <h2>Telefone</h2>
    <p>Telefone 1
    <p>Telefone 2
    <h2>Email</h2>
    <p>Email 1
    <p>Email 2</p>

    <label for=""><b>Digite sua mensagem:</b></label><br>
    <textarea id="mensagem" name="msg" placeholder="Mensagem" rows="5" cols="30"></textarea>
    <br><button>Enviar</button>
{% endblock %}

